body {
    font-family: sans-serif;
    font-size: 12px;
}

h3 {
    margin: 10px 0 15px 10px;
    color: chocolate;
}

.items {
    background-color: #FFF;
    border: dashed gray 1px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    float: left;
}

.item_selected {
    background-color: #cf3;
    border: solid gray 1px;
    margin: 10px;
    padding: 4px;
    width: 250px;
    height: 10px;
    cursor: pointer;
}

.item_available {
    background-color: tomato;
    border: solid gray 1px;
    margin: 10px;
    padding: 4px;
    width: 250px;
    height: 10px;
    cursor: pointer;
}

table {
    border: solid 1px;
    width: 60%;
}

table th {
    font-weight: bold;
    background-color: tomato;
}

table th, td {
    padding-left: 5px;
    padding-right: 5px;
}

.odd {
    background-color: gold;
}

.editContainer {
    margin-top: 25px;
    border: solid 1px;
    width: 60%;
}

.fieldRow {
    margin: 4px;
}

.fieldRow label {
    font-weight: bold;
    width: 120px;
    float: left;
    text-align: right;
    padding-right: 5px;
}

.fieldRow input {
    position: relative;
    float: left;
    width: 125px;
    font-size: 10px;
}

.errors {
    color:red;
    border: solid red 2px;
    padding: 4px;
    margin: 20px 20px 20px 20px;
}
