<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Waffle Example</display-name>

    <!-- 1. This is how PicoContainer-Web registers composition class -->
    <context-param>
        <param-name>webapp-composer-class</param-name>
        <param-value>org.codehaus.waffle.example.simple.SimpleExampleWebappComposer</param-value>
    </context-param>

    <!-- 3. PicoContainer-Web context listener (ServletContext and HttpSession) -->
    <listener>
       <listener-class>org.picocontainer.web.PicoServletContainerListener</listener-class>  
    </listener>

    <!-- 4. Waffle request filter (responsible for request level context) -->
    <filter>
        <filter-name>WaffleRequestFilter</filter-name>
        <filter-class>org.codehaus.waffle.servlet.WaffleServlet$ServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WaffleRequestFilter</filter-name>
        <url-pattern>*.waffle</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WaffleRequestFilter</filter-name>
        <url-pattern>*.xml</url-pattern>
    </filter-mapping>

    <!-- 5. Register Waffle's FrontController servlet -->
    <servlet>
        <servlet-name>waffle</servlet-name>
        <servlet-class>org.codehaus.waffle.servlet.WaffleServlet</servlet-class>
        <init-param>
            <param-name>errors.view</param-name>
            <param-value>errors</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>waffle</servlet-name>
        <url-pattern>*.waffle</url-pattern>
    </servlet-mapping>

    <!-- 6. Register Waffle's XML FrontController servlet -->
    <servlet>
        <servlet-name>xml</servlet-name>
        <servlet-class>org.codehaus.waffle.servlet.WaffleXMLServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>xml</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>
</web-app>
