<html>
  <head><title>Ruby Toys -- </title></head>
  <body>
  <p>Instance var: <%= @my_instance_var %></p>
  <p><%=h self.inspect %></p>
  <%= h('<%$#@!') %>

  <% (1..10).each do |i| %>
    <%= i %>
  <% end %>

  <p><%= parameters["someValue"] %></p>
  <p><%= params["someValue"] %></p>
  <p><%= params %></p>

Works
  </body>
</html>