<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Waffle Example</display-name>

    <!-- 1. This is how an application registers its custom Registrar -->
    <context-param>
        <param-name>com.thoughtworks.waffle.registrar.Registrar</param-name>
        <param-value>com.thoughtworks.waffle.example.simple.MyRegistrar</param-value>
    </context-param>
    <!-- 2. We are adding a Custom Converter to handle Date objects -->
    <context-param>
        <param-name>register:DateConverter</param-name>
        <param-value>com.thoughtworks.waffle.example.simple.DateTypeConverter</param-value>
    </context-param>

    <!-- 3. Waffle context listener (ServletContext and HttpSession) -->
    <listener>
        <listener-class>com.thoughtworks.waffle.context.WaffleContextListener</listener-class>
    </listener>

    <!-- 4. Waffle request filter (responsible for request level context) -->
    <filter>
        <filter-name>WaffleRequestFilter</filter-name>
        <filter-class>com.thoughtworks.waffle.context.WaffleRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WaffleRequestFilter</filter-name>
        <url-pattern>*.waffle</url-pattern>
    </filter-mapping>

    <!-- 5. Register Waffle's FrontController servlet -->
    <servlet>
        <servlet-name>waffle</servlet-name>
        <servlet-class>com.thoughtworks.waffle.servlet.WaffleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>waffle</servlet-name>
        <url-pattern>*.waffle</url-pattern>
    </servlet-mapping>
</web-app>
